@media (min-width: 1024PX) and (max-width: 1440px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto ;
        background-color: gray;
        padding: 10px;
    }
    .buttons {
        margin-bottom: 10px;
        background-color: #8FB34C;
        border-color: #8FB34C;
    }
    .grid-container2 {
        display: grid;
        grid-template-columns: auto auto auto ;
        padding: 10px;
    }
    .grid-container1 {
        display: grid;
        grid-template-columns: auto;
        padding: 10px;
        width:200px
    } 
    .column {
        float: left;
        width: 50%;
    }
    
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }  
}

@media (min-width: 700px) and (max-width: 1024px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto ;
        background-color: gray;
        width: min-content;
        padding: 10px;
    }   
    .buttons {
        margin-bottom: 10px;
        background-color: #8FB34C;
        border-color: #8FB34C;
    }
    .column {
        float: left;
        width: 50%;
    }
    
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }  
}

@media  (max-width: 700px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto ;
        background-color: gray;
        width: min-content;
        padding: 10px;
    }
    .buttons {
        margin-bottom: 10px;
        background-color: #8FB34C;
        border-color: #8FB34C;
    }
    .column {
        float: left;
        width: 35%;
    }
    
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
}

.grid-item1 {  background-color: rgba(255, 255, 255, 0.8);
    padding: 20px; 
    height: max-content;
    background-color: white;
}

.content {
    background-color: white;
    padding: 10px;
}

